<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @restaurant.reviews %>
  <% @restaurant.reviews.each do |review| %>
</p>

<%= link_to "Write Review", new_restaurant_review_path(@restaurant)  %>
<%= link_to 'Back', restaurants_path %>
